.banner {
    position: relative; /* Make the parent element a reference for absolute positioning */
}
.banner img {
    width: 100%; /* Ensure the image takes full width of its parent */
    height: auto; /* Maintain aspect ratio */
}
.banner-text {
    color: var(--bs-secondary); /* Make sure text is readable over the image */
    position: absolute; /* Position the text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct centering by offsetting */
    text-align: center; /* Center the text */
    padding: 0 15px; /* Add some padding to avoid text touching the edges */
}
.banner-text h3 {
    font-size: 2.5vw; /* Responsive text size for h3 */
}
.banner-text p {
    font-size: 1.5vw; /* Responsive text size for p */
}

/* Bootstrap style overrides */
/*.bg-dark {*/
/*    background-color: rgb(58, 77, 84) !important;*/
/*}*/
