html, body {
    margin: 0;
    padding: 0;
}
header, footer {
    width: 100%;
    height: 100px;
    background-color: #90a9a9;
}
header {
    position: fixed;
    top: 0;
}
footer {
    height: 50px;
    position: relative;
    bottom:0;
    background:#90a9a9;
}

/* Bootstrap style overrides */
/*.bg-dark {*/
/*    background-color: rgb(58, 77, 84) !important;*/
/*}*/
