.banner {
    position: relative;
    display: flex;
    justify-content: center;
}
.banner-text {
    color: var(--bs-secondary);
    text-align: center;
    position: absolute;
    width: 60%;
    height: 40%;
    top: 60px;
}

/* Bootstrap style overrides */
/*.bg-dark {*/
/*    background-color: rgb(58, 77, 84) !important;*/
/*}*/
